<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administração dos Produtos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/css/view_ADM_produtos.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Modal Adiconar Produto -->
  <div class="modal fade modal-adicionar-produto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="input-nome">Nome Produto</label>
              <input type="text" class="form-control" id="input-nome" placeholder="Nome do Produto">
            </div>
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <textarea class="form-control" id="descricao" rows="3"></textarea>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal Adicionar Produto -->

  <!-- Modal Vizualizar Produto -->
  <div class="modal fade modal-visualisar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <p>aaa</p>
      </div>
    </div>
  </div>
  <!-- Fim modal Vizualizar Produto -->

  <div class="container">

    <div class="input-group barrabusca">
      <input type="search" class="form-control rounded" placeholder="Nome Produto" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-white">Buscar</button>
    </div>

    <!-- Botão Modal Adicionar Produto -->
    <button type="button" class="btn btn-secondary btn-lg btn-block botaoadd" data-toggle="modal" data-target=".modal-adicionar-produto">Adiconar Produto</button>
    
    <table class="table table-hover table-dark table-responsive{-sm|-md|-lg|-xl} tabelinha">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Preço</th>
          <th scope="col">Categoria</th>
          <th class="acoes" scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2021a456</th>
          <th>Moletom Selamento de Oito Trigramas</th>
          <td>Material: Algodão - Com capuz</td>
          <td>R$ 78,99 ou 10x de R$ 7,99</td>
          <td>Moletom</td>
          <td class="colunaacoes">
            <div class="btn-group listaacoes">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-visualisar">
              <i class="far fa-eye iconebotao"></i>
            </button>
              <i class="far fa-edit iconebotao"></i>
              <i class="far fa-trash-alt iconebotao"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2021e347</th>
          <th>Camisa Hunter X Hunter - Killua</th>
          <td>Material: Algodão - Apenas cor preta</td>
          <td>R$ 42,50 ou 10x R$ 4,99</td>
          <td>Camisa</td>
        </tr>
        <tr>
          <th scope="row">2021g678</th>
          <th>Conjunto Preto Moletom e Calça Aldeia da Folha</th>
          <td>Oversized - Material: Algodão</td>
          <td>R$ 169,90 ou 10x R$ 18,00</td>
          <td>Conjunto</td>
        </tr>
        <tr>
          <th scope="row">2021k809</th>
          <th>Cosplay Violet Evergarden - Violet</th>
          <td>Peruca e Enchimento da saia inclusos</td>
          <td>R$ 199,80 ou 12x R$ 20,00</td>
          <td>Cosplay</td>
        </tr>
      </tbody>
    </table>


  </div>



  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/5d99e3d3ae.js" crossorigin="anonymous"></script>

  <!-- Scripts Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>