body {
    font-family: 'Oswald', sans-serif;
    margin: 100px 0;
    background-color: #343A40;
    color: #FBFBFB;
    padding: 40px;
}

.content-container {
    align-items: center;
    display: flex;
    width: 100%;
    padding: 40px;
}

.content-container h2 {
    font-size: 40px;
    font-weight: 100;
    color: #ff7700;
    margin-bottom: 30px;
}

.container-map {
    padding: 40px;
}

.container-map iframe {
    width: 100%;
    height: 400px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title i {
    font-size: 30px;
}

.title h1 {
    font-size: 40px;
    font-weight: 100;
}

.caminho li {
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
}

.caminho ul {
    height: 40px;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
}

.contact {
    width: auto;
    height: auto;
    flex-basis: 60%;
    padding-right: 50px;
}

.form-group {
    width: auto;
}

.contact input {
    font-size: 20px;
}

.contact textarea {
    font-size: 20px;
}

.contact label {
    font-size: 20px;
}

.social-media {
    flex-basis: 40%;
    padding: 40px;
}

.social-media a {
    text-decoration: none;
    color: #FBFBFB;
}

.social-media ul {
    list-style-type: none;
}

.social-media li {
    color: #FBFBFB;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    border-radius: 20%;
}

.social-media i {
    font-size: 80px;
}

.form-group {
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .content-container {
        display: block;
        padding: 20px;
    }
    .contact {
        padding: 0px;
    }
    .social-media li {
        display: inline-block;
        list-style-position: inside;
    }
    .social-media {
        padding: 25px 0px;
    }
    .social-media li {
        margin: 10px;
    }
    .social-media i {
        font-size: 35px;
    }
    .social-media span {
        font-size: small;
    }
    .container-map {
        padding: 20px;
    }
}