html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #343a40;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 29.3vw 40vw 29.3vw;
}

.main1 {
    height: 100%;
    grid-column: 1/2;
    border-radius: 30px;
}

.main2 {
    height: 100%;
    grid-column: 3/4;
    border-radius: 30px;
}
.menu {
    height: 100%;
    background-color: #fbfbfb;
    grid-column: 2/3;
    border-radius: 30px;
}

.menu-title {
    text-align: center;
}

.menu-title img {
    width: 60%;
}

.menu-title h2 {
    font-size: 100%;
    font-display: flex;
    width: 100%;
}

.menu-foot {
    text-align: center;
}

.menu-foot img {
    width: 60%;
}

.elementos li {
    margin-top: 3%;
    width: 100%;
}

.elementos ul {
    list-style: none;
    padding-left: 0;
    color: #FBFBFB;
    width: 100%;
}

.elementos a {
    width: 100%;
    line-height: 32px;
    font-weight: 300;
    color: #FBFBFB;
}

.elementos button {
    background-color: #343A40;
    color: #FBFBFB;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 5%;
}

.elementos {
    margin-left: 4%;
    margin-right: 4%;
    text-align: justify;
}

.sair button {
    background-color: #FF7700;
    color: #343A40;
    border-radius: 6px;
    width: 50px;
    height: 100%;
    text-align: center;
}

.sair {
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 14px;
    width: 100%;
}

.sair a {
    width: 100%;
    text-align: center;
}

@media (max-width: 2800px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back6.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back6.png);
    }
}

@media (max-width: 1600px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back3.png);
    }

    .main2 {
        background-image: url(../img/dashboard_imgs/back3.png);
    }
}

@media (max-width: 1300px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back7.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back7.png);
    }
}

@media (max-width: 1040px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 20vw 60vw 20vw;
    }
    
    .main1 {
        background-image: url(../img/dashboard_imgs/back8.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back8.png);
    }
}


@media (max-width: 767px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 20vw 60vw 20vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back23.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back23.png);
    }
}

@media (max-width: 600px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 20vw 60vw 20vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back4.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back4.png);
    }
}

@media (max-width: 500px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 20vw 60vw 20vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back4.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back4.png);
    }
}

@media (max-width: 400px) {

    .container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 15vw 70vw 15vw;
    }

    .main1 {
        background-image: url(../img/dashboard_imgs/back5.png);
    }
    
    .main2 {
        background-image: url(../img/dashboard_imgs/back5.png);
    }
}

