body {
    font-family: 'Oswald', sans-serif;
}

nav {
    height: 90px;
}

.navbar .navbar-light {
    padding-right: 0px;
    padding-left: 15px;
    align-items: center;
}

.navbar-brand img {
    padding-right: -90px !important;
    padding-left: -10px !important;
}

.navbar-left img {
    padding-right: 30px !important;
    padding-left: 20px;
}

.nav-item {
    padding-right: 20px;
}

footer {
    margin-top: 0px;
    background-color: #484848;
}

.row {
    width: 100%;
    justify-content: center;
}

footer div {
    padding-top: 15px;
    margin: 5px;
}

footer h1 {
    padding-left: 15px;
}

footer .navbar {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

footer .form-group {
    margin-left: 0px;
    padding-top: 0px;
}

.informacoes {
    font-size: 16px;
    color: #ff7700;
}

.informacoes a {
    color: white;
    line-height: 35px !important;
}

.informacoes h1 {
    font-size: 20px;
}

.formas-de-pagamento {
    color: #ff7700;
    font-size: 16px;
}

.formas-de-pagamento h1 {
    font-size: 20px;
}

.formas-de-envio {
    color: #ff7700;
    font-size: 16px;
}

.formas-de-envio h1 {
    font-size: 20px;
}

.formas-de-envio img {
    text-align: left;
}

.contato {
    color: #ff7700;
    font-size: 12px;
}

.contato h1 {
    font-size: 20px;
}

.contato i {
    display: inline-block;
    line-height: 20px;
    padding-right: 5px;
}

.contato ul {
    list-style: none;
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}

.newsletter {
    color: #ff7700;
    font-size: 20px;
    padding-left: 15px;
}