body {
    font-family: 'Oswald', sans-serif;
}

nav {
    height: 90px;
}

.navbar-brand img{
    padding-right: -90px !important;
    padding-left: -10px !important;
}

.navbar-left img {
    padding-right: 30px !important;
    padding-left: 20px;
}

.nav-item{

    padding-right: 20px;
}

footer {
    margin-top: 350px;
    background-color: #484848;
    height: 300px;
}

footer img{
    padding-left: -20px;
}

footer h1 {
    
    vertical-align: 80px !important;
}

footer div {
    display: inline-block;
    margin-top: 25px;
}

footer h1{
    margin-top: 10px;
}

.informacoes {
    width: 20% !important;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #ff7700;
    height: 150px;
    
}

.informacoes a{
    color: white;
    padding-left: 0px;
    line-height: 35px !important;
}

.informacoes h1{
    font-size: 20px;
    padding-bottom: 35px;
}

.formas-de-pagamento {
    width: 20%;
    color: #ff7700;
    font-size: 16px;
    margin-left: 0px;
    height: 150px;
}

.formas-de-pagamento h1{
    font-size: 20px;
    padding-bottom: 10px !important;
    text-align: start;
}

.formas-de-pagamento img {
    padding-bottom: 70px;
}

.formas-de-envio{
    width: 19%;
    color: #ff7700;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.formas-de-envio h1{
    font-size: 20px;
    padding-bottom: 50px !important;
}

.formas-de-envio img{
    padding-top: -30px;
    padding-bottom: 30px;
    text-align: left;
}

.contato {
    width: 19%;
    color: #ff7700;
    font-size: 12px;
    height: 150px;
}

.contato h1 {
    font-size: 20px;
    padding-top: 25px;

}

.contato i {
    display: block;
    line-height: 20px;
}

.contato ul {
    list-style: none;
    list-style-type: none;
}

.iconsonly {
    width: 1% !important;
    text-align: left !important;
    margin-left: -40px;
}

.contactonly {
    width: 20%;
    padding-left: 10px;
}

.contactonly li {
    padding-bottom: 20px;
    padding-top: -30px !important;
}

.newsletter {
    width: 20%;
    color: #ff7700;
    font-size: 20px;
    margin-top: 20px !important;
    height: 150px;
}