body{
    background-color: #343A40;
    font-family: 'Oswald', sans-serif;
}

.caminho-do-produto {
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
    list-style: none;
    color: #ff7700;
    margin-left: 0%;
    margin-top: 5%;
}

.caminho-do-produto a{
    color: #ff7700;
    transition: 300ms;
    opacity: 0.8;
}

.caminho-do-produto a:hover{
    color: #ff7700;
    opacity: 1;
}

.card-branco {
    background-color: white;
    border-radius: 5px;
    border: 15px;
    border-color: #ff7700;
    color: #343A40;
    margin-left: 10%;
    display: flexbox;
    justify-content: center;
}

.imagem-produto {
    width: 40%;
    border-radius: 5px;
    
}

.detalhes-do-produto {
    height: 40%;
    width: 40%;
    padding-top: 2%;
    padding-left: 7% !important;
    color: white;
}

.informacoes-do-produto{
    color: #ff7700;
    font-size: 24px;
    height: 100%;
    width: 40%;
    display: inline-block;
    margin-left: 5%;
}

.informacoes-do-produto span{
    font-size: 18px;
    color: #f8a053;
    vertical-align: 10px;
    text-decoration: line-through;
}

.escolha-o-tamanho{
    margin-top: 10%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.form-group{
    font-size: 18px;
    padding-top: 25px;
}

.form-tamanho {
    display: flex;
    justify-content: center;
}

.form-check-label{
    font-size: 18px;
}

.botao-comprar {
    background-color: #ff7700;
}

.produtos-relacionados {
height: 100%;
width: 55%;
position: relative;
margin-top: 5%;
margin-left: 5%;
display: inline-block;
}

.produtos-relacionados h1{
    color: #ff7700;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.card-produtos-relacionados {
    display: flex;
    justify-content: center;
    position: relative;
    width: 40% !important;
    border-radius: 5px;
}

.card-body {
    padding-right: 0px;
    height: 40% !important;
    padding: 0px;
}

.imagem-card {
display: flex !important;
height: 60%;

}

.botao-produto-relacionado {
    background-color: #ff7700;
    border-color: #ff7700;
    display: flex !important;
    justify-content: center;
    align-items: flex-end !important;

}

.card-title {
    display: flexbox;
    text-align: center;
}

.card-text {
    display: flexbox;
    text-align: center;
}

.erro {
    min-height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    margin-bottom: 15%;
}

@media (min-width: 1001px){

a:hover {
    text-decoration: none;
    opacity: 1;
}


}


@media (max-width: 1000px){

.row div{
    width: 100%;
    
}

.imagem-produto {
    width: 90%;
}

.caminho-do-produto {
    margin-left: 12%;
    padding: 0%;
}

.card-branco {
    margin-left: 2%;
}

.detalhes-do-produto {
    margin-top: 3%;
    margin-left: 5%;
}

.informacoes-do-produto {
    margin-left: 2%;
    margin-top: 10%;
}

.produtos-relacionados {
    display: inline-block;
    margin-top: 10%;
    margin-left: 5%;
}


.produtos-relacionados h1{
    color: #ff7700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-produtos-relacionados {
    margin-top: 5%;
    width: 48% !important;
}


}


@media (max-width: 450px) {


.card-produtos-relacionados {
    margin-top: 5%;
    margin-left: 2%;
    width: 100% !important;
}

}