body{
    background-color: #343A40;
    font-family: 'Oswald', sans-serif;
}



.caminhodoproduto {
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
    list-style: none;
    color: #ff7700;
    padding-left: 140px;
    padding-top: 30px;
}

.caminhodoproduto a{
    color: #ff7700;
    transition: 300ms;
    opacity: 0.8;
}

.caminhodoproduto a:hover{
    color: #ff7700;
    opacity: 1;
}

.cardbranco {
    background-color: white;
    border-radius: 5px;
    border: 15px;
    border-color: #ff7700;
    color: #343A40;
    margin-left: 10%;
    display: flexbox;
    justify-content: center;
}

.imagem-produto {
    width: 40%;
    border-radius: 5px;
    
}

.detalhesdoproduto {
    height: 40%;
    width: 50%;
    padding-top: 30px;
    padding-left: 10%;
    color: white;
}

.informacoesdoproduto{
    color: #ff7700;
    font-size: 24px;
    height: 100%;
    width: 40%;
    display: inline-block;
    margin-left: 5%;
}

.informacoesdoproduto span{
    font-size: 18px;
    color: #f8a053;
    vertical-align: 10px;
    text-decoration: line-through;
}

.escolhaotamanho{
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.form-group{
    font-size: 18px;
    padding-top: 25px;
}

.formtamanho {
    display: flex;
    justify-content: center;
}

.form-check-label{
    font-size: 18px;
}

  .botaocomprar {
      background-color: #ff7700;
  }

  .produtosrelacionados {
    height: 100%;
    width: 40%;
    position: relative;
    margin-left: 5%;
  }

  .produtosrelacionados h1{
      color: #ff7700;
      font-size: 32px;
      display: flex;
      justify-content: center;
  }

  .card {
      display: flex;
      justify-content: center;
      position: relative;
      height: 50% !important;
      width: 49% !important;
      border-radius: 5px;
  }

  .card-body {
      padding-right: 0px;
      height: 30% !important;
      padding: 0px;
  }

 .imagemcard {
    display: flex !important;
    height: 180px;

 }

  .botaoprodutorelacionado {
      background-color: #ff7700;
      border-color: #ff7700;
      text-align: center;

  }

  .card-title {
      text-align: center;
  }

.card-text {
    text-align: center;
}

@media (min-width: 1001px){

a:hover {
    text-decoration: none;
    opacity: 1;
}


}


@media (max-width: 1000px){

.row div{
    width: 100%;

}

.caminhodoproduto {
    margin-left: 12%;
    padding: 0%;
}

.cardbranco {
    margin-left: 2%;
}

.detalhesdoproduto {
    padding-left: 5%;
}

.informacoesdoproduto {
    margin-left: 2%;
    margin-top: 10%;
}

.produtosrelacionados {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 20%;
}

.card-img-top {
    height: 20%;
}





}


@media (max-width: 700px) {


}