<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/stylesquemsomos.css">
    <title>Quem Somos - AraAra Shop</title>

</head>
<body>

    <div class="tituloqs">
        <h1>Quem Somos?</h1>  
    </div>

    <div class="texto_inst">
        <p>Fundada em 2021, estamos no mercado de vendas de produtos otakus há mais
        de uma semana. A empresa possui alguns diferenciais muito evidentes, diferenciais esses
        responsáveis por nos manter liderando os números de vendas no segmento desde a fundação.
        Afirmamos com orgulho que o atendimento de qualidade, compromisso com agilidade na entrega,
        transparência, seleção rigorosa dos produtos disponibilizados visando sempre os melhores e
        uma super equipe de desenvolvedores que garantem uma loja virtual impecável geram uma
        experiência de consumo excelente para nossos queridos clientes AraAra.</p>
    </div> 

    <div class="titulomissao">
        <h1>Nossa Missão</h1>           
    </div>

    <div class="textomissao">
        <p>Disponibilizar produtos relacionados à animes e mangás de forma acessível para todos 
        os fãs desse universo espetacular.</p>
    </div>

    <div class="titulovisao">
        <h1>Visão da Empresa</h1>           
    </div>

    <div class="textovisao">
        <p>Nossa visão é prosperar juntamente com nossos clientes e funcionários, ao passo que 
        expandimos os negócios e alcançamos novos horizontes.</p>
    </div> 

    <div class="titulovalores">
        <h1>Nossos Valores</h1>           
    </div>

    <div class="textovalores">
        <ul>
            <li>Responsabilidade</li>
            <li>Honestidade</li>
            <li>Comprimisso</li>
            <li>Agilidade</li>
            <li>Transparência</li>
            <li>Inovação</li>
        </ul>
    </div>

    <div class="imagem">
        <img src="img/.jpg">
			<figcaption></figcaption>
    </div>

</body>
</html>

