<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../../public/css/viewproduto.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

    <title>View Produto</title>



</head>
<body>

    <div class="caminhodoproduto">
        <p><a href="">Home</a>
            >  
        <a href="">Produtos</a>
        >
        <a href="">Show do produto</a>
        >
        <a href="">Tipo de produto</a>
        >
            <b>Nome do produto</b>
        
        </p>     
    </div>

    <div class="container-fluid">
        <div class="row">
        
        
                <div class="cardbranco col-md-auto">
                    <div id="zoom-img"  class="img-fluid"></div>
                    
                       <div class="detalhesdoproduto col-md-auto"> <p>Prazo de confecção/postagem: 03 a 07 dias úteis.
                            <br><br>
                            (O prazo de confecção passa a valer no dia útil seguinte após a confirmação do pagamento)
                            <br><br>
                            Tecido: Helanca Poliester Flanelado Nacional. <br>
                            Tecido pratico e maleável, apresenta ótima elasticidade evitando que amasse e confortável. <br>
                            Não desbota, pode lavar e passar.
                            <br><br>
                            Observações: Imagem meramente ilustrativa. <br>
                            O Produto real pode sofrer leves alterações de proporção em relação à amostra. <br>
                            As tonalidades das cores podem variar de acordo com o seu monitor.
                            <br><br>
                            NÃO TRABALHAMOS COM PRONTA ENTREGA.</p>
                    </div>
                </div>
        
            <div class="informacoesdoproduto col-md-auto">
        
                <p>Conjunto Moletom e Calça Konoha Vila da Folha</p>
                <p><span>R$170,00</span>R$129,90</p>
                <br>
                <p class="escolhaotamanho">ESCOLHA O TAMANHO:</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
                    <label class="form-check-label" for="inlineRadio1">PP</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
                    <label class="form-check-label" for="inlineRadio2">P</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="opcao3">
                    <label class="form-check-label" for="inlineRadio3">M</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="opcao4">
                    <label class="form-check-label" for="inlineRadio4">G</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="opcao5">
                    <label class="form-check-label" for="inlineRadio5">GG</label>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">QUANTIDADE:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-lg btn-block">ADICIONAR AO CARRINHO</button>
                  <button type="button" class="btn btn-lg btn-block botaocomprar" class="botaodecompra">COMPRAR</button>
            </div>

            <div class="produtosrelacionados">
                <h1>PRODUTOS RELACIONADOS:</h1>
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="../../public/img/produtob.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">MOLETOM GOJO</h5>
                      <p class="card-text">MOLETOM JUJUTSU KAISEN SATORO GOJO</p>
                      <a href="#" class="btn btn-primary btn-block botaoprodutorelacionado">VER</a>
                    </div>
                  </div>
                  <div class="card" style="width: 12rem;">
                    <img class="card-img-top imagemcard" src="../../public/img/produtoc.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">CASACO NARUTO</h5>
                      <p class="card-text">CASACO MOLETOM NARUTO KONOHA COM CAPUZ</p>
                      <a href="#" class="btn btn-primary btn-block botaoprodutorelacionado">VER</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    

    <script src="../../public/js/zoomimagem.js">
        
    </script>

</body>
</html>