<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shopping - Catálogo Completo Ara Ara Shop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../../public/css/viewprodutos.css">
        <script type="text/javascript" scr="../../public/js/viewprodutos.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">   
</head>
<body>
    
    <div class="container">

             <div class="menufiltro">

                  <div class="input-group barrabusca">
                    <input type="search" class="form-control rounded" placeholder="Digite aqui" aria-label="Search"
                    aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-white">Buscar</button>
                  </div>

                  <div class="dropdown menumenu">
                    <button class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Produto
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu listamenu">
                      <!-- <li><a class="filtroselect" chref="#">HTML</a></li> -->
                      <li><a class="filtroselect" href="#">Camisas</a></li>
                      <li><a class="filtroselect" href="#">Moletons</a></li>
                      <li><a class="filtroselect" href="#">Conjuntos</a></li>
                      <li><a class="filtroselect" href="#">Cosplays</a></li>
                      <li><a class="filtroselect" href="#">Brindes</a></li>
                    </ul>
                  </div>

                  <div class="dropdown menumenu">
                    <button class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Animes
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu listamenu">
                      <!-- <li><a class="filtroselect" chref="#">HTML</a></li> -->
                      <li><a class="filtroselect" href="#">Naruto</a></li>
                      <li><a class="filtroselect" href="#">Jujutsu Kaizen</a></li>
                      <li><a class="filtroselect" href="#">Konosuba</a></li>
                      <li><a class="filtroselect" href="#">Attack on Titan</a></li>
                      <li><a class="filtroselect" href="#">Demon Slayer</a></li>
                      <li><a class="filtroselect" href="#">Dragon Ball</a></li>
                      <li><a class="filtroselect" href="#">Hunter X Hunter</a></li>
                      <li><a class="filtroselect" href="#">Kaguya-sama</a></li>
                      <li><a class="filtroselect" href="#">Boku no Hero</a></li>
                    </ul>
                  </div>

                  <div class="dropdown menumenu">
                    <button class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Cor
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu listamenu">
                      <!-- <li><a class="filtroselect" chref="#">HTML</a></li> -->
                      <li><a class="filtroselect" href="#">Preto</a></li>
                      <li><a class="filtroselect" href="#">Branco</a></li>
                      <li><a class="filtroselect" href="#">Azul</a></li>
                      <li><a class="filtroselect" href="#">Roxo</a></li>
                      <li><a class="filtroselect" href="#">Verde</a></li>
                      <li><a class="filtroselect" href="#">Vermelho</a></li>
                      <li><a class="filtroselect" href="#">Laranja</a></li>
                      <li><a class="filtroselect" href="#">Amarelo</a></li>
                      <li><a class="filtroselect" href="#">Rosa</a></li>
                    </ul>
                  </div>

                  <div class="dropdown menumenu">
                    <button class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Tamanho
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu listamenu">
                      <!-- <li><a class="filtroselect" chref="#">HTML</a></li> -->
                      <li><a class="filtroselect" href="#">PP</a></li>
                      <li><a class="filtroselect" href="#">P</a></li>
                      <li><a class="filtroselect" href="#">M</a></li>
                      <li><a class="filtroselect" href="#">G</a></li>
                      <li><a class="filtroselect" href="#">GG</a></li>
                      <li><a class="filtroselect" href="#">XG</a></li>
                      <li><a class="filtroselect" href="#">XGG</a></li>
                    </ul>
                  </div>

              </div>

              

            



          <div class="row d-flex flex-wrap justify-content-center">

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/moletoma.jpg" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text nomeproduto">MOLETOM AKATSUKI PRETO COM MANGAS E CAPUZ BRANCOS</p>
                    <p class="card-text precoproduto">R$ 78,99 ou 10x de R$ 7,99</p>
                    <p class="card-text categoriaproduto">Produto: Moletom</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/cosplay3.jpg" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text nomeproduto">COSPLAY VIOLET EVERGARDEN - VIOLET (PERUCA INCLUSA)</p>
                    <p class="card-text precoproduto">R$ 199,80 ou 12x de R$ 20,00</p>
                    <p class="card-text categoriaproduto">Produto: Cosplay</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/moletomb.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">MOLETOM SELAMENTO DE OITO TRIGRAMAS</p>
                      <p class="card-text precoproduto">R$ 78,99 ou 10x de R$ 7,99</p>
                      <p class="card-text categoriaproduto">Produto: Moletom</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/camisakillua.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">CAMISA PRETA HUNTER X HUNTER - KILLUA</p>
                      <p class="card-text precoproduto">R$ 42,50 ou 10x de R$ 4,99</p>
                      <p class="card-text categoriaproduto">Produto: Camisa</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/cosplay2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">DEMON SLAYER COSPLAY - TANJIRO, ZENITSU OU GIYU</p>
                      <p class="card-text precoproduto">R$ 175,98 ou 10x de R$ 18,50</p>
                      <p class="card-text categoriaproduto">Produto: Cosplay</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/camisanaruto.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">CAMISA TIME 7 - NARUTO, KAKASHI, SASUKE E SAKURA</p>
                      <p class="card-text precoproduto">R$ 37,99 ou 10x de R$ 4,50</p>
                      <p class="card-text categoriaproduto">Produto: Camisa</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/produtoa.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">CONJUNTO PRETO MOLETOM E CALÇA ALDEIA DA FOLHA</p>
                      <p class="card-text precoproduto">R$ 169,90 ou 10x de R$ 18,00</p>
                      <p class="card-text categoriaproduto">Produto: Conjunto</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/moletomsnkpretobranco.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">MOLETOM PRETO E BRANCO ATTACK ON TITAN</p>
                      <p class="card-text precoproduto">R$ 82,99 ou 10x de R$ 9,50</p>
                      <p class="card-text categoriaproduto">Produto: Moletom</p>
                    </div>
                </div>
              </a>

              <a class="linkproduto" href="#">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top cim" src="../../public/img/moletomsnkpreto.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text nomeproduto">MOLETOM ATTACK ON TITAN FLOR DE CEREJEIRA</p>
                      <p class="card-text precoproduto">R$ 85,90 ou 10x de R$ 9,50</p>
                      <p class="card-text categoriaproduto">Produto: Moletom</p>
                    </div>
                </div>
              </a>


          </div>








          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center navpgit">
              <li class="page-item pgit">
                <a class="page-link pgit" href="#" tabindex="-1">Anterior</a>
              </li>
              <li class="page-item"><a class="page-link pgit" href="#">1</a></li>
              <li class="page-item"><a class="page-link pgit" href="#">2</a></li>
              <li class="page-item"><a class="page-link pgit" href="#">3</a></li>
              <li class="page-item pgit">
                <a class="page-link pgit" href="#">Próxima</a>
              </li>
            </ul>
          </nav>



          







    </div>

    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>